body {
    background-image: url('fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff; 
}

.glassmorphism-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    max-width: 450px;
    width: 90%;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important;
}

.form-check-input:checked {
    background-color: #fff !important;
    border-color: #fff !important;
}

.form-check-input:focus {
    border-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important;
}
.input-group-text {
    color: #fff !important;
}

.btn-close-white {
    filter: invert(1); 
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
@media (min-width: 992px) { /* Em telas maiores, use mx-auto para centralizar */
    .navbar-nav {
        width: auto;
    }
}